.toDoListTaskDone{
    opacity: 0.5;
    position: relative;
}
.priority{
    margin: 10px;
}
.cloud{
    opacity: 1;
    position: absolute;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
}
.cloudHide{
    display: none;
}
.input{
    position: relative;
    z-index: 0;
}
